{
  "singleQuote": true,
  "semi": false,
  "printWidth": 120,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "importOrder": ["^[./]"],
  "importOrderParserPlugins": ["typescript", "[\"decorators-legacy\", {\"decoratorsBeforeExport\": true}]"],
  "importOrderSeparation": true
}